@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 font-sans antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500/50 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}